<a href="https://colab.research.google.com/github/HiibaGit/TP_AA/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/tp/market_basket.txt', sep="\t", names=['ID','Product'])
df.head(10)

   ID                   Product
0  ID                   Product
1   1                   Peaches
2   2             Vegetable_Oil
3   2               Frozen_Corn
4   3                     Plums
5   4               Pancake_Mix
6   5                    Cheese
7   6               Cauliflower
8   7                 2pct_Milk
9   8  98pct_Fat_Free_Hamburger

In [16]:
print(df.shape)

(12936, 2)

In [13]:
VAR = pd.crosstab(df.ID,df.Product)
print(VAR.transpose())#transposé du res pr un affichage 5ir w mnathem

ID                  1  10  100  1000  1001  1002  1003  1004  1005  1006  ...  \
Product                                                                   ...
100_Watt_Lightbulb  0   0    0     0     0     0     0     0     0     0  ...
2pct_Milk           0   0    0     0     0     0     0     0     1     0  ...
40_Watt_Lightbulb   0   0    0     0     0     0     0     0     0     0  ...
60_Watt_Lightbulb   0   0    0     0     0     0     0     0     1     0  ...
75_Watt_Lightbulb   0   0    0     0     0     1     0     0     0     0  ...
...                ..  ..  ...   ...   ...   ...   ...   ...   ...   ...  ...
Whole_Milk          0   0    0     0     0     0     0     0     0     0  ...
Window_Cleaner      0   0    0     0     0     0     0     0     0     0  ...
Wood_Polish         0   0    0     0     0     0     0     0     0     0  ...
flav_Fruit_Bars     0   0    0     0     0     0     0     0     1     0  ...
flav_Ice            0   0    0     0     0     0     0     0     0     0  ...

ID                  991  992  993  994  995  996  997  998  999  ID
Product
100_Watt_Lightbulb    0    0    0    0    0    0    0    0    1   0
2pct_Milk             0    0    0    1    0    0    0    0    1   0
40_Watt_Lightbulb     0    0    0    0    0    0    0    0    0   0
60_Watt_Lightbulb     0    0    0    0    0    0    0    0    0   0
75_Watt_Lightbulb     0    0    0    0    0    0    0    1    1   0
...                 ...  ...  ...  ...  ...  ...  ...  ...  ...  ..
Whole_Milk            0    0    0    0    0    0    0    0    1   0
Window_Cleaner        0    0    0    0    0    0    0    0    0   0
Wood_Polish           0    0    0    0    0    0    0    0    0   0
flav_Fruit_Bars       0    0    0    0    0    0    0    0    0   0
flav_Ice              0    0    0    0    0    0    0    0    0   0

[304 rows x 1361 columns]

In [17]:
VAR.iloc[:30,:3] # illoc recupere les 30 1er lignes et les 3 premier colones

Product  100_Watt_Lightbulb  2pct_Milk  40_Watt_Lightbulb
ID
1                         0          0                  0
10                        0          0                  0
100                       0          0                  0
1000                      0          0                  0
1001                      0          0                  0
1002                      0          0                  0
1003                      0          0                  0
1004                      0          0                  0
1005                      0          1                  0
1006                      0          0                  0
1007                      0          0                  0
1008                      0          0                  0
1009                      0          0                  0
101                       0          0                  0
1010                      0          0                  0
1011                      0          0                  0
1012                      0          0                  0
1013                      0          1                  0
1014                      0          0                  0
1015                      0          0                  0
1016                      0          0                  0
1017                      0          1                  0
1018                      0          1                  0
1019                      0          0                  0
102                       0          0                  0
1020                      0          0                  0
1021                      0          0                  0
1022                      0          0                  0
1023                      0          0                  0
1024                      0          1                  0

In [18]:
from mlxtend.frequent_patterns import apriori 
#itemsets frequents
freq_itemsets = apriori(VAR,min_support=0.025,max_len=4,use_colnames=True)

In [ ]:
freq_itemsets.head(15)

     support                    itemsets
0   0.030125        (100_Watt_Lightbulb)
1   0.109478                 (2pct_Milk)
2   0.037472         (60_Watt_Lightbulb)
3   0.031594         (75_Watt_Lightbulb)
4   0.093314  (98pct_Fat_Free_Hamburger)
5   0.031594         (AA_Cell_Batteries)
6   0.025716    (Apple_Cinnamon_Waffles)
7   0.026451               (Apple_Drink)
8   0.031594          (Apple_Fruit_Roll)
9   0.032329                 (Apple_Jam)
10  0.033064               (Apple_Jelly)
11  0.032329               (Apple_Sauce)
12  0.053637                    (Apples)
13  0.066863                   (Aspirin)
14  0.027921               (Avocado_Dip)

In [ ]:
def is_inclus(x,items):
  return items.issubset(x)

In [ ]:
import numpy
id = numpy.where(freq_itemsets.itemsets.apply(is_inclus,items={'Aspirin'}))
print(id)

(array([ 13, 194, 233, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265,
       266, 267, 465, 466, 502, 503, 504]),)

In [ ]:
id = numpy.where(freq_itemsets.itemsets.apply(is_inclus,items={'Aspirin','Eggs'}))
print(id)

(array([258, 465, 502]),)

In [ ]:
print(freq_itemsets[freq_itemsets['itemsets'].ge({'Aspirin','Eggs'})])

      support                      itemsets
258  0.038207               (Aspirin, Eggs)
465  0.025716    (Aspirin, Eggs, 2pct_Milk)
502  0.029390  (White_Bread, Aspirin, Eggs)

In [ ]:
from mlxtend.frequent_patterns import association_rules 
regles = association_rules(freq_itemsets,metric="confidence",min_threshold=0.75)
print(regles.iloc[:5,:])

                 antecedents    consequents  antecedent support  \
0       (Aspirin, 2pct_Milk)  (White_Bread)            0.034533
1     (White_Bread, Bananas)    (2pct_Milk)            0.032329
2       (Bananas, 2pct_Milk)  (White_Bread)            0.031594
3        (Wheat_Bread, Cola)    (2pct_Milk)            0.032329
4  (Popcorn_Salt, 2pct_Milk)         (Eggs)            0.033064

   consequent support   support  confidence      lift  leverage  conviction
0            0.119030  0.027186    0.787234  6.613738  0.023075    4.140558
1            0.109478  0.025716    0.795455  7.265863  0.022177    4.353662
2            0.119030  0.025716    0.813953  6.838214  0.021956    4.735213
3            0.109478  0.025716    0.795455  7.265863  0.022177    4.353662
4            0.122704  0.027186    0.822222  6.700865  0.023129    4.934791

In [ ]:
print(regles[regles['lift'].ge(7.0)])

                                antecedents                 consequents  \
1                    (White_Bread, Bananas)                 (2pct_Milk)
3                       (Wheat_Bread, Cola)                 (2pct_Milk)
8                     (Wheat_Bread, Onions)                 (2pct_Milk)
12                (Toothpaste, Wheat_Bread)                 (2pct_Milk)
14            (White_Bread, Hamburger_Buns)  (98pct_Fat_Free_Hamburger)
15  (Wheat_Bread, 98pct_Fat_Free_Hamburger)               (White_Bread)
18                    (Toothpaste, Aspirin)               (White_Bread)
23             (Sweet_Relish, Hot_Dog_Buns)                  (Hot_Dogs)
30               (Toothpaste, Toilet_Paper)               (White_Bread)
31                   (Toothpaste, Tomatoes)               (White_Bread)
33        (White_Bread, Potato_Chips, Eggs)                 (2pct_Milk)
36          (Toothpaste, Eggs, White_Bread)                 (2pct_Milk)
38            (Toothpaste, Eggs, 2pct_Milk)               (White_Bread)

    antecedent support  consequent support   support  confidence      lift  \
1             0.032329            0.109478  0.025716    0.795455  7.265863
3             0.032329            0.109478  0.025716    0.795455  7.265863
8             0.034533            0.109478  0.028655    0.829787  7.579466
12            0.034533            0.109478  0.027921    0.808511  7.385121
14            0.034533            0.093314  0.026451    0.765957  8.208410
15            0.029390            0.119030  0.026451    0.900000  7.561111
18            0.030860            0.119030  0.025716    0.833333  7.001029
23            0.036003            0.092579  0.030125    0.836735  9.038063
30            0.029390            0.119030  0.025716    0.875000  7.351080
31            0.030860            0.119030  0.025716    0.833333  7.001029
33            0.033799            0.109478  0.026451    0.782609  7.148526
36            0.032329            0.109478  0.025716    0.795455  7.265863
38            0.030860            0.119030  0.025716    0.833333  7.001029

    leverage  conviction
1   0.022177    4.353662
3   0.022177    4.353662
8   0.024875    5.231815
12  0.024140    4.650502
14  0.023229    3.874023
15  0.022953    8.809699
18  0.022043    5.285819
23  0.026792    5.557954
30  0.022218    7.047759
31  0.022043    5.285819
33  0.022751    4.096400
36  0.022177    4.353662
38  0.022043    5.285819

In [ ]:
print(regles[regles['consequents'].eq({'2pct_Milk'})])

                          antecedents  consequents  antecedent support  \
1              (White_Bread, Bananas)  (2pct_Milk)            0.032329
3                 (Wheat_Bread, Cola)  (2pct_Milk)            0.032329
7                 (Wheat_Bread, Eggs)  (2pct_Milk)            0.040411
8               (Wheat_Bread, Onions)  (2pct_Milk)            0.034533
9          (Toothpaste, Potato_Chips)  (2pct_Milk)            0.037472
12          (Toothpaste, Wheat_Bread)  (2pct_Milk)            0.034533
33  (White_Bread, Potato_Chips, Eggs)  (2pct_Milk)            0.033799
36    (Toothpaste, Eggs, White_Bread)  (2pct_Milk)            0.032329

    consequent support   support  confidence      lift  leverage  conviction
1             0.109478  0.025716    0.795455  7.265863  0.022177    4.353662
3             0.109478  0.025716    0.795455  7.265863  0.022177    4.353662
7             0.109478  0.030860    0.763636  6.975229  0.026435    3.767592
8             0.109478  0.028655    0.829787  7.579466  0.024875    5.231815
9             0.109478  0.028655    0.764706  6.984998  0.024553    3.784717
12            0.109478  0.027921    0.808511  7.385121  0.024140    4.650502
33            0.109478  0.026451    0.782609  7.148526  0.022751    4.096400
36            0.109478  0.025716    0.795455  7.265863  0.022177    4.353662